<div class="form">
  <div class="form-group">
    <label class="control-label" for="name">Name</label>
    {{input value=model.name id="name" class="form-control"}}
  </div>
  <div class="form-group">
    <label class="control-label" for="resource">Resource</label>
    <select class="form-control" id="resource" onchange={{action "resourceChanged" value="target.value"}}>
      <option>-- not specified --</option>
      {{#each resources as |resource|}}
      <option value={{resource.id}} selected={{eq model.resource.id resource.id}}>{{resource.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="filename">File name</label>
    <div class="pull-right text-muted"><small>This field accepts <b>liquid</b> syntax.</small></div>
    {{input value=model.filename id="filename" class="form-control text-mono"}}
  </div>
</div>
