{{#validation-group label="Name" for="name" errors=model.errors.name}}
  {{input value=model.name id="name" class="form-control"}}
{{/validation-group}}
{{#validation-group label="Resource" for="resource" errors=model.errors.resource}}
  <select class="form-control" id="resource" onchange={{action "resourceChanged" value="target.value"}}>
    <option>-- not specified --</option>
    {{#each (sort-by "name" resources) as |resource|}}
      <option value={{resource.id}} selected={{eq model.resource.id resource.id}}>{{resource.name}}</option>
    {{/each}}
  </select>
{{/validation-group}}
{{#validation-group label="File name" for="filename" errors=model.errors.filename}}
  {{input value=model.filename id="filename" class="form-control"}}
{{/validation-group}}
