{{#validation-group label="Template" for="template" errors=model.errors.template}}
  <select class="form-control" id="template" onchange={{action "templateChanged" value="target.value"}}>
    <option>-- not specified --</option>
    {{#each (sort-by "name" templates) as |template|}}
      <option value={{template.id}} selected={{eq model.template.id template.id}}>{{template.name}}</option>
    {{/each}}
  </select>
{{/validation-group}}
{{#validation-group label="Mailer" for="mailer" errors=model.errors.mailer}}
  <select class="form-control" id="mailer" onchange={{action "mailerChanged" value="target.value"}}>
    <option>-- not specified --</option>
    {{#each (sort-by "name" mailers) as |mailer|}}
      <option value={{mailer.id}} selected={{eq model.mailer.id mailer.id}}>{{mailer.name}}</option>
    {{/each}}
  </select>
{{/validation-group}}
{{#validation-group label="Group" for="group" errors=model.errors.group}}
  <select class="form-control" id="group" onchange={{action "groupChanged" value="target.value"}}>
    <option>-- not specified --</option>
    {{#each (sort-by "name" groups) as |group|}}
      <option value={{group.id}} selected={{eq model.group.id group.id}}>{{group.name}}</option>
    {{/each}}
  </select>
{{/validation-group}}
