<div class="row">
  {{#validation-group label="First name" for="firstName" errors=model.errors.firstName class="col-sm-6"}}
    {{input value=model.firstName id="firstName" class="form-control"}}
  {{/validation-group}}
  {{#validation-group label="Last name" for="lastName" errors=model.errors.lastName class="col-sm-6"}}
    {{input value=model.lastName id="lastName" class="form-control"}}
  {{/validation-group}}
</div>
<div class="row">
  {{#validation-group label="E-mail" for="email" errors=model.errors.email class="col-sm-6"}}
    {{input value=model.email id="email" class="form-control"}}
  {{/validation-group}}
  {{#validation-group label="Department" for="department" errors=model.errors.department class="col-sm-6"}}
    {{input value=model.department id="department" class="form-control" placeholder="optional"}}
  {{/validation-group}}
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label" for="gender">Gender</label>
      <select class="form-control" id="gender" onchange={{action "genderChanged" value="target.value"}}>
        <option value="null" selected={{eq model.gender null}}>-- not specified --</option>
        {{#each genderList as |gender|}}
        <option value={{gender}} selected={{eq model.gender gender}}>{{gender}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  {{#validation-group label="Comment" for="comment" errors=model.errors.comment class="col-sm-6"}}
    {{input value=model.comment id="comment" class="form-control" placeholder="optional"}}
  {{/validation-group}}
</div>
