{{#bootstrap-modal title="Create targets from filtered victims" actionTitle="Create" cancel=(action "cancel") action=(action "save") close=(route-action "back")}}
  <div class="form">
    {{#validation-group label="Group" for="group" errors=model.errors.group_id}}
      <select class="form-control" id="group" onchange={{action "groupChanged" value="target.value"}}>
        <option>-- not specified --</option>
        {{#each sortedGroups as |group|}}
          <option value={{group.id}} selected={{eq model.group.id group.id}}>{{group.name}}</option>
        {{/each}}
      </select>
    {{/validation-group}}
    <div class="form-group">
      <label class="control-label" for="filter">Filter</label>
      <p class="form-control-static text-mono" id="filter">{{json-stringify model.filter}}</p>
    </div>
  </div>
{{/bootstrap-modal}}
