<div class="row">
  <div class="col-sm-8 col-xs-12">
    <h2 class="ellipsis">
      {{model.name}}
      <br>
      <small>
        {{when-empty model.description "No description"}} <div class={{campaign-state-class model.state}}>{{model.state}}</div>
      </small>
    </h2>
  </div>
  <div class="col-sm-4 col-xs-12">
    <h2>
      {{outlet "action-panel"}}
    </h2>
  </div>
</div>
<hr>
<ul class="nav nav-tabs small">
  {{#link-to "campaigns.campaign.index" model tagName="li"}}<a href><b>Campaign</b></a>{{/link-to}}
  {{#each (persisted-records sortedScenarios) as |scenario|}}
    {{#link-to "campaigns.campaign.scenarios.scenario.index" scenario tagName="li"}}
      <a href>{{scenario.template.name}}&nbsp;<small>({{when-empty scenario.group.name "No group"}})</small></a>
    {{/link-to}}
  {{/each}}
</ul>
{{outlet}}
