<div class="row">
  <div class="col-sm-8 col-xs-12">
    <h1>
      Campaigns
    </h1>
  </div>
  <div class="col-sm-4 col-xs-12">
    <h1>
      {{#link-to "campaigns.new" class="btn btn-primary pull-right-sm"}}New campaign{{/link-to}}
    </h1>
  </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-3 col-sm-3 col-xs-6">Name</th>
      <th class="col-md-3 hidden-sm hidden-xs">Description</th>
      <th class="col-md-2 col-sm-3 hidden-xs">Started</th>
      <th class="col-md-2 col-sm-3 hidden-xs">Finished</th>
      <th class="col-md-1 col-sm-2 col-xs-4 text-center">State</th>
      <th class="col-md-1 col-sm-1 col-xs-2 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each (persisted-records sortedCampaigns) as |campaign|}}
    <tr>
      <td class="col-md-3 col-sm-3 col-xs-6">{{#link-to "campaigns.campaign.index" campaign}}{{campaign.name}}{{/link-to}}</td>
      <td class="col-md-3 hidden-sm hidden-xs">{{when-empty campaign.description "None"}}</td>
      <td class="col-md-2 col-sm-3 hidden-xs">{{when-empty campaign.startedDateString "-"}}</td>
      <td class="col-md-2 col-sm-3 hidden-xs">{{when-empty campaign.finishedDateString "-"}}</td>
      <td class="col-md-1 col-sm-2 col-xs-4 text-center"><div class={{campaign-state-class campaign.state}}>{{campaign.state}}</div></td>
      <td class="col-md-1 col-sm-1 col-xs-2 text-center">
        {{#link-to "campaigns.campaign.edit" campaign}}{{fa-icon icon="edit"}}{{/link-to}}
        {{#link-to "campaigns.campaign.delete" campaign}}{{fa-icon icon="trash-alt"}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
