<div class="form">
  <div class="row">
    <div class="col-sm-6">
      {{#validation-group label="Sender e-mail" for="senderEmail" errors=model.errors.senderEmail}}
        <div class="pull-right text-muted"><small>This field accepts <b>liquid</b> syntax.</small></div>
        {{input value=model.senderEmail id="senderEmail" class="form-control text-mono" placeholder="leave blank for default value"}}
      {{/validation-group}}
      {{#validation-group label="Sender name" for="senderName" errors=model.errors.senderName}}
        <div class="pull-right text-muted"><small>This field accepts <b>liquid</b> syntax.</small></div>
        {{input value=model.senderName id="senderName" class="form-control text-mono" placeholder="leave blank for default value"}}
      {{/validation-group}}
    </div>
    <div class="col-sm-6">
      {{#validation-group label="Subject" for="subject" errors=model.errors.subject}}
        <div class="pull-right text-muted"><small>This field accepts <b>liquid</b> syntax.</small></div>
        {{input value=model.subject id="subject" class="form-control text-mono" placeholder="optional"}}
      {{/validation-group}}
      {{#validation-group label="Base URL" for="baseUrl" errors=model.errors.baseUrl}}
        {{input value=model.baseUrl id="baseUrl" class="form-control" placeholder="leave blank for this instance's default value"}}
      {{/validation-group}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      {{#validation-group label="Landing URL" for="landingUrl" errors=model.errors.landingUrl}}
        <div class="pull-right text-muted"><small>This field accepts <b>liquid</b> syntax.</small></div>
        {{input value=model.landingUrl id="landingUrl" class="form-control text-mono" placeholder="optional"}} 
      {{/validation-group}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#validation-group errors=model.errors.plaintext class="no-margin-bottom"}}
            <label class="control-label no-margin-bottom">Plaintext e-mail template</label>
            <div class="pull-right">
              <a href {{action "showModal" "templates.template.plaintext-editor-modal" model "templates.template.index"}}>
                {{fa-icon "edit"}}
              </a>
            </div>
          {{/validation-group}}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#validation-group errors=model.errors.html class="no-margin-bottom"}}
            <label class="control-label no-margin-bottom">HTML e-mail template</label>
            <div class="pull-right">
              <a href {{action "showModal" "templates.template.html-editor-modal" model "templates.template.index"}}>
                {{fa-icon "edit"}}
              </a>
            </div>
          {{/validation-group}}
        </div>
      </div>
    </div>
  </div>
</div>
