<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-4 col-sm-5 col-xs-7">Name</th>
      <th class="col-md-4 hidden-sm hidden-xs">Description</th>
      <th class="col-md-1 col-sm-2 col-xs-2">Type</th>
      <th class="col-md-2 col-sm-3 hidden-xs">Code</th>
      <th class="col-md-1 col-sm-2 col-xs-3 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each (persisted-records sortedResources) as |resource|}}
    <tr>
      <td class="col-md-4 col-sm-5 col-xs-7">{{resource.name}}</td>
      <td class="col-md-4 hidden-sm hidden-xs">{{when-empty resource.description "None"}}</td>
      <td class="col-md-1 col-sm-2 col-xs-2"><span class="label {{resource-type-class resource.type}}">{{resource.type}}</span></td>
      <td class="col-md-2 col-sm-3 hidden-xs text-mono">{{resource.code}}</td>
      <td class="col-md-1 col-sm-2 col-xs-3 text-center">
        {{#link-to "templates.template.resources.resource.upload" resource}}{{fa-icon icon="arrow-alt-circle-up"}}{{/link-to}}
        <a href {{action "download" resource}}>{{fa-icon icon="arrow-alt-circle-down"}}</a>
        {{#link-to "templates.template.resources.resource.edit" resource}}{{fa-icon icon="edit"}}{{/link-to}}
        {{#link-to "templates.template.resources.resource.delete" resource}}{{fa-icon icon="trash-alt"}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
